﻿@model IEnumerable<OdeToFood.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in Model)
{ 
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <hr />
    </div>
}    